$font-color: #333;
$font: 'Noto Sans KR', sans-serif;
$desktop-w: 1400px;
$tablet-w: 1000px;
$tabletL-w: 1200px;
$mobileL-w: 640px;
$mobileM-w: 600px;
$mobileS-w: 500px;
$gnb1-color: #736b6b;
$gnb2-color: #9a3038;
$gnb3-color: #2a4c76;
$gnb4-color: #016b4f;
$gnb5-color: #11646f;
$gnb6-color: #a06920;
$gnb7-color: #695780;
$gnb8-color: #113469;
