@import 'variables';

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    -webkit-text-size-adjust: none;
    min-width: 320px;
}
html,
body {
    width: 100%;
    font-size: 20px;
    font-family: $font;
    color: $font-color;
}

h1,
h2,
h3,
h4,
ul,
dl,
ol,
dt,
li,
dd,
p,
div,
strong,
span,
section,
article,
table,
thead,
tbody,
tr,
td,
fieldset,
button,
select,
input {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
    background: none;
}
a {
    color: $font-color;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
button {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
button .ripple {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.4s linear;
}
@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}
[data-sal] {
    --sal-duration: 0.5s;
}
